.watchlist-container h3 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.scrollable-ticker-container {
  max-height: 430px; 
  overflow-y: auto;
  margin-left: 0;
  overflow-x: hidden;
  flex-grow: 1;
}
.scrollable-ticker-container ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}


.input-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 200px;
  margin-right: 10px;
  font-size: 14px;
}

.add-to-watchlist {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-watchlist:hover {
  background-color: #0056b3;
}

button.add-to-watchlist {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button.add-to-watchlist:hover {
  background-color: #0056b3;
}

.watchlist-item:hover {
  background-color: #d3d0d0;
  cursor: pointer;
}

/* Remove button for each item */
.watchlist-item button {
  background-color: #f41a1a;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.watchlist-item button:hover {
  background-color: #d00;
}

/* Color for stock prices */
.watchlist-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.watchlist-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.watchlist-item .price-positive {
  color: green;
}

.watchlist-item .price-negative {
  color: red;
}

p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}