/* Center the heading text */
.watchlist-container h3 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Input and button container */
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.scrollable-ticker-container {
  max-height: 460px; /* Set the height of the scrollable container */
  overflow-y: auto; /* Enable scrolling when content overflows */
}

/* Input field styling */
.input-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 200px;
  margin-right: 10px;
  font-size: 14px;
}

/* Add-to-watchlist button */
button.add-to-watchlist {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button.add-to-watchlist:hover {
  background-color: #0056b3;
}


/* Change background on hover */
.watchlist-item:hover {
  background-color: #f0f0f0;
}

/* Remove button for each item */
.watchlist-item button {
  background-color: #f41a1a;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.watchlist-item button:hover {
  background-color: #d00;
}

/* Color for stock prices */
.watchlist-item span {
  font-size: 14px;
  margin-right: 10px;
}

/* Change the price color based on positive or negative */
.watchlist-item .price-positive {
  color: green;
}

.watchlist-item .price-negative {
  color: red;
}

p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}