.watchlist-container {
  flex-grow: 1; /* Allow this area to grow and take up available space */
  overflow-y: auto; /* Only this area will scroll */
  max-height: 400px; /* Limit height */
}

.watchlist-container h3 {
  text-align: center;
}

  .watchlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }

  ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;            /* Remove padding */
    margin: 0;             /* Remove margin */
  }
  
  .watchlist-item span {
    margin-right: 10px;
  }
  
  .watchlist-item .price {
    display: flex;
    align-items: center;
    color: black;
  }
  
  .price-value {
    margin-right: 5px;
  }
  
  .price-change {
    margin-left: 10px;
  }
  
  button {
    background-color: #ffffff;
    border: none;
    padding: 5px 5px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 150px;
    margin-right: 10px;
  }
  
  button.add-to-watchlist {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.add-to-watchlist:hover {
    background-color: #0056b3;
  }

  .input-container {
    display: flex;
    align-items: center;
  }
  
  .input-container input {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px; /* Add some space between input and button */
  }
  
  button.add-to-watchlist {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  